@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular/Montserrat-Regular.woff);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold/Montserrat-Bold.woff);
}

@font-face {
  font-family: "montserrat-light";
  src: url(../fonts/montserrat-light/montserrat-light.woff);
}

@font-face {
  font-family: "Gotham-Book";
  src: url(../fonts/Gotham-Book/Gotham-Book.woff);
}

@font-face {
  font-family: "Montserrat-UltraLight";
  src: url(../fonts/Montserrat-UltraLight/Montserrat-UltraLight.woff);
}

@font-face {
  font-family: "Myriad-Pro";
  src: url(../fonts/Myriad-Pro/Myriad-Pro.woff);
}

.green-header {
  background-color: rgb(4, 228, 162);
  position: absolute;
  left: -10px;
  top: -94px;
  width: 1376px;
  height: 116px;
  z-index: 67;
}

.bg-background {
  background-color: rgb(239, 83, 80);
  position: absolute;
  left: 0px;
  top: -4px;
  width: 1366px;
  height: 1100px;
  z-index: 2;
}

.head-red {
  background-color: rgb(233, 70, 67);
  position: absolute;
  left: 0px;
  top: -1000px;
  width: 1366px;
  height: 1100px;
  z-index: 3;
}

.foot-white {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -12px;
  top: 683px;
  width: 1378px;
  height: 500px;
  z-index: 4;
}

.footer-yellow {
  background-color: rgb(254, 252, 242);
  position: absolute;
  left: -12px;
  top: 1077px;
  width: 1378px;
  height: 100px;
  z-index: 5;
}

.text-logo {
  font-size: 35px;
  font-family: "Montserrat-Regular";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  left: 226.908px;
  top: 39.143px;
  z-index: 70;
}

.text-contact {
  font-size: 16px;
  font-family: "Gotham-Book";
  color: rgb(249, 251, 231);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 1163.937px;
  top: 47.4px;
  z-index: 65;
}

.yellow-line {
  background-color: rgb(253, 216, 53);
  position: absolute;
  left: 1165px;
  top: 69px;
  width: 106px;
  height: 3px;
  z-index: 66;
}

.body-text {
  font-size: 30px;
  font-family: "Montserrat-Regular";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 705.844px;
  top: 283.828px;
  z-index: 62;
}

.body-par-text {
  font-size: 18px;
  font-family: "Montserrat-UltraLight";
  text-align: justify;
  color: rgb(249, 251, 232);
  line-height: 1.25;
  position: absolute;
  left: 707.194px;
  top: 380.89px;
  width: 503px;
  height: 61px;
  z-index: 61;
}

.button-green {
  border: 0px solid #7f8486;
  border-radius: 6px;
  background-color: rgb(4, 228, 162);
  position: absolute;
  left: 1041px;
  top: 501px;
  width: 166px;
  height: 54px;
  z-index: 45;
  font-size: 18px;
  font-family: "Montserrat-Regular";
  color: rgb(249, 251, 231);
  text-transform: uppercase;
  line-height: 1.2;
}

.grn-els {
  position: absolute;
  margin-top: -133px;

  img:first-child {
    position: absolute;
    top: 260px;
    left: -122.5px;
    z-index: 42;
  }

  img:last-child {
    position: absolute;
    left: -332.5px;
    top: -50px;
    width: 875px;
    height: 975px;
    z-index: 41;
  }
}

.phone-frame {
  position: absolute;
  left: 191px;
  top: 164px;
  width: 388px;
  height: 814px;
  z-index: 51;
}

.phone {

  img:last-child {
    position: absolute;
    left: 218px;
    top: 279px;
    width: 332px;
    height: 586px;
    z-index: 56;
  }
}

.body-form {
  position: absolute;
  left: 692px;
  top: 751px;
  width: 335px;
  z-index: 37;

  input {
    border-color: #e3f2fd;
  }

  select {
    border-color: #e3f2fd;
  }

  .row {
    margin-top: 0px;
    margin-left: 0px;
  }

  p:first-child {
    position: absolute;
    font-size: 20px;
    font-family: "Montserrat-Light";
    letter-spacing: -1px;
    color: rgb(255, 138, 128);
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: left;
    left: 39px;
    top: -40px;
    z-index: 38;
  }

  .button-send {
    border: 0px solid #7f8486;
    border-radius: 10px;
    background-color: rgb(239, 83, 80);
    position: absolute;
    left: 384px;
    top: 237px;
    width: 186px;
    height: 70px;
    font-size: 31.182px;
    font-family: "Montserrat-Bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.2;
    text-align: center;
    -moz-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
    -webkit-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
    -ms-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
    z-index: 15;
  }

}

.row .row div:last-child input[placeholder] {
  padding-bottom: 65px;
  font-size: 16px;
  font-family: "Montserrat-Light";
}

.footer-text {
  font-size: 24.946px;
  font-family: "Montserrat-Light";
  color: rgb(99, 99, 99);
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: left;
  -moz-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
  -webkit-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
  -ms-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
  position: absolute;
  left: 144.102px;
  top: 1094.622px;
  z-index: 9;
}

.footer-contact {
  font-size: 24.946px;
  font-family: "Montserrat-Light";
  color: rgb(99, 99, 99);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
  -webkit-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
  -ms-transform: matrix( 0.64102564102564,0,0,0.64139344262295,0,0);
  position: absolute;
  left: 706.668px;
  top: 1094.598px;
  z-index: 8;

  img {
    position: absolute;
    left: -79px;
    top: -7px;
    z-index: 10;
  }

  p {
    margin-left: -2px;
    margin-top: -3px ;
  }
}