<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/layout/header.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.pagepiling.css">

    <!-- jQuery library -->
    <script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagepiling.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pagepiling').pagepiling({
                menu: '#menu',
                direction: 'horizontal',
                verticalCentered: true,
                sectionsColor: [],
                anchors: ['welcome-page', 'patient','stage1', 'stage2', 'stage3', 'stage4'],
                navigation: {
                    'textColor': '#000',
                    'bulletsColor': '#000',
                    'position': 'right',
                    'tooltips': ['Приветствие','Выбор пациента','Этап 1', 'Этап 2', 'Этап 3', 'Этап 4']
                },
                scrollingSpeed: 700,
                easing: 'swing',
                loopBottom: false,
                loopTop: false,
                css3: true,
                normalScrollElements: null,
                normalScrollElementTouchThreshold: 5,
                touchSensitivity: 5,
                keyboardScrolling: true,
                sectionSelector: '.section',
                animateAnchor: true,

                //events
                onLeave: function(index, nextIndex, direction){},
                afterRender: function(){
                    $('#pp-nav').addClass('custom');
                },
                afterLoad: function(anchorLink, index){
                    if(index>1){
                        $('#pp-nav').removeClass('custom');
                    }else{
                        $('#pp-nav').addClass('custom');
                    }
                }
            });
        });
    </script>
    <title>Тренажер СибГМУ</title>
</head>
<body ng-app="AngApp" ng-controller="MainController as ssmu">
<div class="modal-windows" ng-repeat="user in ssmu.user">
    <div class="modal fade" id="success-modal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Поздравляю!</h4>
                </div>
                <div class="modal-body">
                    <p>{{user.firstname}} {{user.lastname}}, Вы прошли первый этап!</p>
                    <p>Ваши баллы: {{user.score}} баллов.</p>
                    <p>Вам досутпен второй этап данного тренажера!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="error-modal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Не повезло!</h4>
                </div>
                <div class="modal-body">
                    <p>{{user.firstname}} {{user.lastname}}, Вы не прошли первый этап!</p>
                    <p>Ваши баллы: {{user.score}} баллов.</p>
                    <br>
                    <p>Обратите внимание на: ...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse" style="background-color: #5f5f5f;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="nav navbar-nav" id="menu">
                <li class="active" data-menuanchor="welcome-page"><a href="#welcome-page"><span class="glyphicon glyphicon-home"></span></a></li>
                <!--<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Заголовок 1
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="z-index: 9999999;">
                            <li><a href="#">Подзаголовок 1</a></li>
                            <li><a href="#">Подзаголовок 2</a></li>
                            <li><a href="#">Подзаголовок 3</a></li>
                        </ul>
                </li>-->
                <li data-menuanchor="patient"><a href="#patient">Выбор пациента</a></li>
                <li data-menuanchor="stage1"><a href="#stage1">Этап 1</a></li>
                <li data-menuanchor="stage2"><a href="#stage2">Этап 2</a></li>
                <li data-menuanchor="stage3"><a href="#stage3">Этап 3</a></li>
                <li data-menuanchor="stage4"><a href="#stage4">Этап 4</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" class="modal-dialog-font">
                <li><a href="profile.html"><span class="glyphicon glyphicon-log-in"></span> Личный кабинет</a></li>
                <li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
            </ul>
            <p class="text-center">Медицинский интерактивный тренажер</p>
        </div>
    </div>
</nav>
<div id="pagepiling">
    <div class="section" id="welcome" style="height: 100%; background-color: white">
        <!-- Теги и прочее -->
        <div class="jumbotron text-center">
            <h1>Добро пожаловать!</h1>
            <p>Основная цель данного веб-тренажера - это развитие аналитического мышления,
                а также закрепление знаний и навыков полученных в высших медицинских учреждениях.</p>
        </div>
        <div class="container">
            <h2 class="text-center">Основные правила использования:</h2>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Правило 1</h3>
                    <p>Описания правила использования тренажера...</p>
                </div>
                <div class="col-sm-4">
                    <h3>Правило 2</h3>
                    <p>Описания правила использования тренажера...</p>
                </div>
                <div class="col-sm-4">
                    <h3>Правило 3</h3>
                    <p>Описания правила использования тренажера...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section1" style="height: 100%; background-color: white">
        <!-- Теги и прочее -->
        <div class="jumbotron text-center">
            <h1>Выбор пациента</h1>
        </div>
        <div class="container main-cont" style="width: 85%;">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="text-center">Пациент 1</h3>
                    <div class="text-justify">
                        <p>Краткое сведение о недомогании пациента.</p>
                        <p>Степень сложности выполнения заданий.</p>
                    </div>
                    <br>
                    <a href="#stage1" type="button" class="btn btn-success center-block" style="width: 15%; min-width: 15%"><span class="glyphicon glyphicon-ok"></span></a>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-center">Пациент 2</h3>
                    <div class="text-justify">
                        <p>Краткое сведение о недомогании пациента.</p>
                        <p>Степень сложности выполнения заданий.</p>
                    </div>
                    <br>
                    <a href="#stage1" type="button" class="btn btn-success center-block" style="width: 15%;min-width: 15%"><span class="glyphicon glyphicon-ok"></span></a>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-center">Пациент 3</h3>
                    <div class="text-justify">
                        <p>Краткое сведение о недомогании пациента.</p>
                        <p>Степень сложности выполнения заданий.</p>
                    </div>
                    <br>
                    <a href="#stage1" type="button" class="btn btn-success center-block" style="width: 15%;min-width: 15%"><span class="glyphicon glyphicon-ok"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section2" style="height: 100%; background-color: white">
        <div class="page-header center-block text-center page-header-stage1" style="width: 45%">
            <h2>Пациент 1</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h3 class="text-center">Исходные данные: </h3>
                    <br>
                    <div class="patients text-justify" ng-repeat='patient in ssmu.patients'>
                        <p><span>Половая принадлежнотсь:</span> {{patient.gender}}.</p>
                        <p><span>Возраст:</span> {{patient.age}} лет.</p>
                        <div class="form-group">
                            <p><span>Заметки:</span></p>
                            <textarea class="form-control" rows="10" id="comment">{{patient.notes}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <h3 class="text-center">Обследование: </h3><br>
                    <div class="btn-group btn-group-justified buttons-anamnez">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Анамнез <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="anamnezmenu = 11">Анамнез жизни</a></li>
                                <li><a href="#" ng-click="anamnezmenu = 12">Анамнез болезни</a></li>
                                <li><a href="#" ng-click="anamnezmenu = 13">Анамнез семьи</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Анализы <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="analysismenu = 21">Общий анализ крови</a></li>
                                <li><a href="#" ng-click="analysismenu = 22">Общий анализ мочи</a></li>
                                <li><a href="#" ng-click="analysismenu = 23">Копрограмма</a></li>
                                <li><a href="#" ng-click="analysismenu = 24">Биохимический анализ крови</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Объективный осомотр <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-anamnez" role="menu">
                                <li class="text-muted text-center" style="font-family: GothamProRegular">Дыхательная
                                    система
                                </li>
                                <li><a href="#" ng-click="moomenu = 311">Перкуссия</a></li>
                                <li><a href="#" ng-click="moomenu = 312">Пальпация</a></li>
                                <li><a href="#" ng-click="moomenu = 313">Аскульптация</a></li>
                                <li class="text-muted text-center" style="font-family: GothamProRegular">Исследование
                                    сосудов
                                </li>
                                <li><a href="#" ng-click="moomenu = 321">Перкуссия</a></li>
                                <li><a href="#" ng-click="moomenu = 322">Пальпация</a></li>
                                <li><a href="#" ng-click="moomenu = 323">Аскульптация</a></li>
                                <li class="text-muted text-center" style="font-family: GothamProRegular">Система
                                    пищеварения
                                </li>
                                <li><a href="#" ng-click="moomenu = 331">Перкуссия</a></li>
                                <li><a href="#" ng-click="moomenu = 333">Пальпация</a></li>
                                <li><a href="#" ng-click="moomenu = 333">Аскульптация</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 results-tab">
                        <br>
                        <h3 class="text-center">Результаты обследования</h3>
                        <div class=" panel-group results" id="accordion">
                            <div class="panel panel-default" ng-repeat="investigation in ssmu.anamnez" ng-show="anamnezmenu == 11" >
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Анамнез жизни</a>
                                    </h4>
                                </div>
                                <div id="collapse11" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{investigation.life}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-repeat="investigation in ssmu.anamnez" ng-show="anamnezmenu == 12">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Анамнез болезни</a>
                                    </h4>
                                </div>
                                <div id="collapse12" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{investigation.illness}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-repeat="investigation in ssmu.anamnez" ng-show="anamnezmenu == 13">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Анамнез семьи</a>
                                    </h4>
                                </div>
                                <div id="collapse13" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{investigation.family}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-repeat="analysis in ssmu.analysis" ng-show="analysismenu == 21">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">Анализы - общий анализ крови (ОАК)</a>
                                    </h4>
                                </div>
                                <div id="collapse21" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{analysis.blood}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-repeat="analysis in ssmu.analysis" ng-show="analysismenu == 22">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">Анализы - общий анализ мочи (ОАМ)</a>
                                    </h4>
                                </div>
                                <div id="collapse22" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{analysis.urinalysis}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-repeat="analysis in ssmu.analysis" ng-show="analysismenu == 23">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse23">Анализы - копрограмма</a>
                                    </h4>
                                </div>
                                <div id="collapse23" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{analysis.coprogram}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-repeat="analysis in ssmu.analysis" ng-show="analysismenu == 24">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse24">Анализы - биохимический анализ крови (БАК)</a>
                                    </h4>
                                </div>
                                <div id="collapse24" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{analysis.biochemical}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 311">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse311">Дыхательная система - перкуссия</a>
                                    </h4>
                                </div>
                                <div id="collapse311" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 312">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse312">Дыхательная система - пальпация</a>
                                    </h4>
                                </div>
                                <div id="collapse312" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 313">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse313">Дыхательная система - аскульпатция</a>
                                    </h4>
                                </div>
                                <div id="collapse313" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 321">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse321">Исследование сосудов - перкуссия</a>
                                    </h4>
                                </div>
                                <div id="collapse321" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h5 class="text-center">Перкуссия</h5>
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 322">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse322">Исследование сосудов - пальпация</a>
                                    </h4>
                                </div>
                                <div id="collapse322" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 323">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse323">Исследование сосудов - аскульпатция</a>
                                    </h4>
                                </div>
                                <div id="collapse323" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 331">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse331">Система пищеварения - перкуссия</a>
                                    </h4>
                                </div>
                                <div id="collapse331" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h5 class="text-center">Перкуссия</h5>
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 332">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse332">Система пищеварения - пальпация</a>
                                    </h4>
                                </div>
                                <div id="collapse332" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-show="moomenu == 333">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse333">Система пищеварения - аскульпатция</a>
                                    </h4>
                                </div>
                                <div id="collapse333" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ssmu.moo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3 class="text-center">Проверочный тест: </h3><br>
                    <h4 class="text-center">Сочетание таких качеств как эмоциональная дистанционированность врача от
                        глубинных проблем пациента, ориентация на симптомы, ориентация на технократический подход к
                        лечению входит в структуру одного из следующих психологических типов врача</h4>
                    <br>
                    <div class="text-center"><label class="radio-inline"><input type="radio" name="optradio">Ригидность</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Сопереживающего</label>
                        <label class="radio-inline"><input type="radio"
                                                           name="optradio">Эмоционально-нейтрального</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Апатичного</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Директивного</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Не директивного</label>
                    </div>
                    <br><br>
                    <button type="button" class="btn btn-success center-block button-square"
                            onclick="location.href='#stage2'">Выбрать ответ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3" style="height: 100%; background-color: white;">
        <div class="page-header center-block text-center page-header-stage1" style="width: 45%">
            <h2>Пациент 1</h2>
        </div>
        <div class="container" style="width: 85%">
            <div class="row">
                <div class="col-sm-6" style="height: 350px; width: 50%">
                    <h3 class="text-center">Тип исследования: </h3><br>
                    <div class="btn-group btn-group-justified buttons-anamnez">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                КЛД <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="kldmenu = 11">Антинуклеарный фактор</a></li>
                                <li><a href="#" ng-click="kldmenu = 12">ИФА</a></li>
                                <li><a href="#" ng-click="kldmenu = 13">Проба Нечипоренко</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Лучевая диагностика <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="raddiagnosticmenu = 21">МРТ БП</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Эндоскопия <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="endoscopemenu = 31">Ректоманоскопия</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 results-tab">
                    <br>
                    <h3 class="text-center">Результаты обследования</h3>
                    <div class=" panel-group results" id="accordion-stage2">
                        <div class="panel panel-default" ng-repeat="kld in ssmu.typekld" ng-show="kldmenu == 11">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-stage2" href="#kld11">КЛД - Антинуклеарный фактор</a>
                                </h4>
                            </div>
                            <div id="kld11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{kld.antinuclear}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="kld in ssmu.typekld" ng-show="kldmenu == 12">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-stage2" href="#kld12">КЛД - ИФА</a>
                                </h4>
                            </div>
                            <div id="kld12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{kld.ipa}}                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="kld in ssmu.typekld" ng-show="kldmenu == 13">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-stage2" href="#kld13">КЛД - Проба Нечипоренко</a>
                                </h4>
                            </div>
                            <div id="kld13" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{kld.probanech}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="raddiagnostic in ssmu.typeraddiagnostic" ng-show="raddiagnosticmenu == 21">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-stage2" href="#raddiagnostic21">Лучевая диагностика - МРТ БП</a>
                                </h4>
                            </div>
                            <div id="raddiagnostic21" class="panel-collapse collapse raddiagnostic21">
                                <div class="panel-body" >
                                    {{raddiagnostic.mrtbp}}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="endoscope in ssmu.typeendoscope" ng-show="endoscopemenu == 31">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-stage2" href="#endoscope31">Эндоскопия - Ректоманоскопия</a>
                                </h4>
                            </div>
                            <div id="endoscope31" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{endoscope.recktomanoscopy}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3 class="text-center">Проверочный тест: </h3><br>
                    <h4 class="text-center">Сочетание таких качеств как эмоциональная дистанционированность врача от
                        глубинных проблем пациента, ориентация на симптомы, ориентация на технократический подход к
                        лечению входит в структуру одного из следующих психологических типов врача</h4>
                    <br>
                    <div class="text-center"><label class="radio-inline"><input type="radio" name="optradio">Ригидность</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Сопереживающего</label>
                        <label class="radio-inline"><input type="radio"
                                                           name="optradio">Эмоционально-нейтрального</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Апатичного</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Директивного</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Не директивного</label>
                    </div>
                    <br><br>
                    <button type="button" class="btn btn-success center-block button-square"
                            onclick="location.href='#stage2'">Выбрать ответ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4" style="height: 100%; background-color: white;">
        <div class="jumbotron text-center">
            <h1>My Third Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Column 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="col-sm-4">
                    <h3>Column 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="col-sm-4">
                    <h3>Column 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section5" style="height: 100%; background-color: white;">
        <div class="jumbotron text-center">
            <h1>My Fourth Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Column 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="col-sm-4">
                    <h3>Column 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="col-sm-4">
                    <h3>Column 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Controllers -->
<script src="js/controllers/main.controller.js"></script>
</body>
</html>